/* reset css by Meyeb Web */
@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

/* Montserrat Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Variables de colores
$bg: #111;
$white: #fff;
$green: #4caf50;
$green-hover: #42a145;
$red: #f44336;
$red-hover: #bb2421;
$gray: #222;
$gray-hover: #444;

// Estilos basicos de app movil
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: $bg;
}

a {
    text-decoration: none;
    outline: none;
}

#app {
    margin: 0 auto;
    max-width: 500px;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// Boton por defecto diseño (utilizar con '@extend .defaultbtn;')
.defaultbtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 12rem;
    font-size: 1.2rem;
    background-color: $gray;
    color: $white;
    padding: 1rem;
    border: 0.2rem solid $white;
    border-radius: 2rem 0 2rem 0;

    transition: all 0.3s;

    &:hover {
        background-color: $gray-hover;
        transform: scale(1.1);
    }

    svg {
        width: 2rem;
        height: 2rem;
        fill: $white;
        margin-right: 0.5rem;
    }
}