/* reset css by Meyeb Web */
@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

/* Montserrat Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Variables de colores
$bg: #111;
$white: #fff;
$green: #4caf50;
$green-hover: #42a145;
$red: #f44336;
$red-hover: #bb2421;
$gray: #222;
$gray-hover: #444;
$blue: #25aadf;

// Variables de tamaño de letra
$size-h1: 1.8rem;
$size-h2: 1.3rem;
$size-p: 0.7rem;
$size-btn-text: 1.1rem;
$size-svg: 2.5rem;
$size-svg-btn: 1.3rem;
$size-svg-text: 0.9rem;

// Estilo de focus accesible
*:focus-visible {
    outline: 0.3rem solid $blue;
}

// Estilos basicos de app movil
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: $bg;
}

a {
    text-decoration: none;
    outline: none;
    display: inline-block;
}

#app {
    margin: 0 auto;
    max-width: 400px;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// Boton por defecto diseño (utilizar con '@extend .defaultbtn;')
.defaultbtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 12rem;
    font-size: $size-btn-text;
    background-color: $gray;
    color: $white;
    padding: 1rem;
    border: 0.2rem solid $white;
    border-radius: 2rem 0 2rem 0;

    transition: all 0.3s;

    &:hover, &:focus-visible {
        background-color: $gray-hover;
        transform: scale(1.1);
    }

    svg {
        width: $size-svg-btn;
        height: $size-svg-btn;
        fill: $white;
        margin-right: 0.5rem;
    }
}