@import '../../app.module.scss';

#loading {
    text-align: center;
    color: $white;
    #loadingicon {
        width: 6rem;
        margin-bottom: 1rem;
        animation: spin 4s linear infinite;
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    h1 {
        font-size: $size-h1;
    }
    p {
        font-size: $size-p;
        margin-top: 1rem;
    }
}

#playgame {
    margin: 0 1rem;

    #carindex {
        color: $white;
        font-weight: 700;
        font-size: $size-p;
        display: flex;
        justify-content: center;
    }

    .card {
        background-color: $gray;
        color: $white;
        border-radius: 2rem;
        text-align: center;
        transition: all 0.3s;
        margin-top: 1rem;

        &.animating {
            animation: scaleDownUp 0.5s forwards;
        }

        @keyframes scaleDownUp {
            0% {
                transform: scale(1);
                opacity: 1;
            }
            50% {
                transform: scale(0);
                opacity: 0;
            }
            100% {
                transform: scale(1);
                opacity: 1;
            }
        }

        h1 {
            font-size: $size-h1;
            background-color: $gray-hover;
            padding: 1rem;
            border-radius: 1rem 1rem 0 0;
            span {
                font-weight: 700;
            }
        }

        img {
            width: 20rem;
        }

        #detflex {
            display: flex;
            justify-content: space-between;
            .details {
                padding: 0.5rem;
                width: 48.5%;
                .detcol {
                    display: flex;
                    justify-content: space-between;
                    padding: 0.5rem;
                    border-top: 0.1rem solid $gray-hover;

                    h2 {
                        margin-right: 0.5rem;
                        font-size: $size-p;
                    }
                    h3 {
                        margin-left: 0.5rem;
                        text-align: right;
                        font-size: $size-p;
                    }
                    .moreinfo {
                        svg {
                            width: $size-svg-text;
                            height: $size-btn-text;
                            fill: $blue;
                            margin-right: 0.5rem;
                        }
                        font-size: $size-p;
                        color: $blue;
                        display: flex;
                        align-items: center;
                        margin: 0 auto;
                    }
                }
            }
        }

        &:hover, &:focus-visible {
            transform: scale(1.05);
        }

    }

    #contbtn {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        button {
            border: 0.2rem solid $white;
            border-radius: 2rem 0 2rem 0;
            padding: 1rem;
            font-size: $size-h2;
            color: $white;
            width: 48.5%;
            height: 5rem;
            transition: all 0.3s;

            span {
                background-color: $gray;
                color: $white;
                padding: 0.3rem;
                border-radius: 2rem;
                margin-right: 0.3rem;
            }

            &#smashbtn {
                background-color: $green;
                &:hover, &:focus-visible {
                    background-color: $green-hover;
                }
            }

            &#passbtn {
                background-color: $red;
                border-radius: 0 2rem 0 2rem;
                &:hover, &:focus-visible {
                    background-color: $red-hover;
                }
            }

            &:hover, &:focus-visible {
                transform: scale(1.1);
            }

        }

    }

    #conthistorybtn {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        #historybtn {

            @extend .defaultbtn;

        }
    }

    #history {
        h1 {
            text-align: center;
            font-size: $size-h1;
            color: $white;
            margin-bottom: 2rem;
        }

        #nohistorytxt {
            color: $white;
            font-size: $size-p;
            text-align: center;
            margin: 10rem 0;
        }

        table, tr, th, td {
            border: 0.2rem solid $bg;
        }
    
        .tablescroll {
            max-height: 22rem;
            overflow-y: auto;
        }

        table {
            width: 100%;
            font-size: $size-p;
            color: $white;
            max-height: 20rem;
            overflow-y: auto;
            tr {
                vertical-align: middle;
                border-radius: 2rem;
                background-color: $gray;
                &:nth-child(2n+1) {
                    background-color: $gray-hover;
                }
                th, td {
                    padding: 0.5rem;
                    vertical-align: middle;
                    &:nth-child(1) {
                        width: 10%;
                        text-align: center;
                    }
                    &:nth-child(2) {
                        width: 20%;
                    }
                    &:nth-child(3) {
                        width: 60%;
                    }
                    &:nth-child(4) {
                        width: 10%;
                        text-align: center;
                    }
                    img {
                        width: 100%;
                    }
                    span {
                        background-color: $white;
                        font-size: $size-p;
                        padding: 0.2rem;
                        color: $bg;
                        margin-left: 0.5rem;
                        border-radius: 1rem;
                        font-weight: 700;
                    }

                    .moreinfo {
                        color: $blue;
                        display: flex;
                        align-items: center;
                        svg {
                            width: $size-svg-text;
                            height: $size-svg-text;
                            fill: $blue;
                            margin-right: 0.5rem;
                        }
                    }

                    &.smashtd {
                        background-color: $green;
                        color: $white;
                        font-weight: 700;
                    }
                    
                    &.passtd {
                        background-color: $red;
                        color: $white;
                        font-weight: 700;
                    }
                }
            }
        }

        #contbackgamebtn {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
            #backgamebtn {
                @extend .defaultbtn;
                width: 15rem;
            }
        }

    }

}