@import '../../app.module.scss';

#home {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // todos los elementos hijos de main
    & > * {
        margin: 1rem;
    }

    img {
        width: 10rem;
    }

    h1 {
        text-align: center;
        font-size: 2.2rem;
        font-weight: 400;
        color: $white;
        margin-top: -1rem;
        
        span {
            font-weight: 700;

            &:first-child {
                color: $green;
            }

            &:last-child {
                color: $red;
            }

        }

    }

    button {

        display: flex;
        align-items: center;
        justify-content: center;

        width: 12rem;
        font-size: 1.2rem;
        background-color: $gray;
        color: $white;
        padding: 1rem;
        border: 0.2rem solid $white;
        border-radius: 2rem 0 2rem 0;

        transition: all 0.3s;

        &:hover {
            background-color: $gray-hover;
            transform: scale(1.1);
        }

        &#playbtn {
            width: 20rem;
            font-size: 2rem;
            background: linear-gradient(90deg, $green 40%, $red 60%);
            color: $white;

            &:hover {
                background: linear-gradient(90deg, $green-hover 40%, $red-hover 60%);
            }

        }

        svg {
            width: 2rem;
            height: 2rem;
            fill: $white;
            margin-right: 0.5rem;
        }

    }

}