@import '../../app.module.scss';

#home {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // todos los elementos hijos de main
    & > * {
        margin: 1rem;
    }

    img {
        width: 10rem;
    }

    h1 {
        text-align: center;
        font-size: $size-h1;
        font-weight: 400;
        color: $white;
        margin-top: -1rem;
        
        span {
            font-weight: 700;

            &:first-child {
                color: $green;
            }

            &:last-child {
                color: $red;
            }

        }

    }

    button {

        @extend .defaultbtn;

        &#playbtn {
            width: 18rem;
            font-size: $size-h1;
            background: linear-gradient(90deg, $green 40%, $red 60%);
            color: $white;

            &:hover, &:focus-visible {
                background: linear-gradient(90deg, $green-hover 40%, $red-hover 60%);
            }

        }

        

    }

}