@import '../../app.module.scss';

#footer {
    

    display: flex;
    justify-content: space-between;

    section {
        
        margin: 1rem;

        a {
            svg {
                width: $size-svg;
                height: $size-svg;
                vertical-align: middle;
                path {
                    fill: $white;
                }
            }
            transition: all 0.3s;

            &:hover, &:focus-visible {
                transform: scale(1.1); 
            }

        }

    }

}